form {
  box-sizing:content-box;
  width: 45%;
  padding: 2rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 90%);
  border: 2px solid hsl(0, 0%, 90%);
  display: grid;
  grid-template-rows:max-content;
  row-gap: 2rem;
 }
 
input[type=text], select {
  width: 50%;
  font-size: 15px; 
  padding: 12px 20px;
  margin: 08px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=date] {
  background-color: #ffffff;
  font-family:Arial, Helvetica, sans-serif;
  color: #020000;
  font-size: 18px;
  border: 1 px;
  border-color: #020000;
  outline: none;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  align-self: center;
  width: 20%;
  background-color:#070b08;
  color: white;
  padding: 12px 20px;
  margin-left: 6%;
  margin-top: 9px;
  border: #ffffff;
  border-radius: 4px;
  cursor:context-menu;
}
button[type=submit]:hover {    
  background-color: #295fb1 ;    
}    
p{    
  border-color: #a94442 !important;    
  color: #a94442 !important;    
  margin-bottom: 15px;    
}
th, td {
  border: 1px solid;
  padding: 15px;
  text-align: left;
  top: 0;
  right: 0;
}
table {
  position: absolute;
  width:50%;
  top: 0;
  right: 0;
}
